@import "tailwindcss";

@theme {
  --font-barlow: "Barlow", sans-serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-bellefair: "Bellefair", serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: #0b0f1d;
  font-family: "Barlow", sans-serif;
}